body {
    font-family: Arial, Verdana, sans-serif;
    background-color: #FFB6C1;
}

h1, h2 {
    color: #800080;
    font-weight: bold;
    font-size: 2.0em;
}

ul, ol {
    font-size: 0.8em;
    border: 1px solid darkgrey;
    border-radius: 3px;
    text-indent: 20px;
}

p {
    text-indent: 10px;
}

figcaption {
    font-weight: bold;
    font-size: 0.5em;
}